<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Location</th>
    <th>Url</th>
    <th>Is active</th>
    <th>Ventype</th>
  </tr>

<% venues.each do |venue| %>
  <tr>
    <td><%= link_to venue.name, venue %></td>
    <td><%= venue.address %></td>
    <td><%= venue.location %></td>
    <td><%= autolink(venue.url) %></td>
    <td><%= venue.is_active %></td>
    <td><%= venue.ventype.name %></td>
  </tr>
<% end %>
</table>