<p id="notice"><%= notice %></p>

<h1><%= @venue.name %></h1>

<table summary="This table lists details about the venue" class="venuedata">
<tbody><tr> 
<th scope="row">Address:</th>
<td><%= @venue.location %></td>
</tr>
<tr>
<th scope="row">Url:</th>
<td><%= autolink(@venue.url) %></td>
</tr>
<tr>
<th>Ventype:</th>
<td><%= @venue.ventype.name %></td>
</tr>
</tbody></table>


<h2>Description</h2>
<%= @venue.description %>


<%= @venue.info_html.html_safe %>

<%= @venue.blind_access.html_safe %>
<%= @venue.deaf_access.html_safe %>
<%= @venue.mobility_access.html_safe %>