<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address:</b>
  <%= @venue.location %>
</p>

<p>
  <b>Url:</b>
  <%= autolink(@venue.url) %>
</p>


<p>
  <b>Ventype:</b>
  <%= @venue.ventype.name %>
</p>


<p>Description</p>
<%= @venue.description %>


<%= @venue.info_html.html_safe %>

<%= @venue.blind_access.html_safe %>
<%= @venue.deaf_access.html_safe %>
<%= @venue.mobility_access.html_safe %>