<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address:</b>
  <%= @venue.location %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @venue.url, @venue.url %>
</p>


<p>
  <b>Ventype:</b>
  <%= @venue.ventype.name %>
</p>


