<% if @route %>
		<h1>Directions</h1>
		<p>To go from <%= link_to @route.startpoint.name, @route.startpoint %> (<%= @route.startpoint.location %>) to <%= link_to @route.endpoint.name, @route.endpoint %> (<%= @route.endpoint.location %>)</p>
		<p>Total distance: <%= @route.distance %></p>
		<% @route.directions.each do |step| %>
				<h1 class="step"><%= step['description'] %></h1> 
				<h2 class-"distance"><%= step['distance'] %></h2>
			<% end %>
<% else %>
  <p>Nothing here</p>
<% end %>
