<% if @route %>
	<section id="directions">	
		<header><h1>Directions</h1></header>
		<div id="map" style="width: 425px; height: 240px"></div>
		<div id="directions-info">
		<p>To go from <%= link_to @route.startpoint.name, @route.startpoint %> (<%= @route.startpoint.location %>) to <%= link_to @route.endpoint.name, @route.endpoint %> (<%= @route.endpoint.location %>)</p>
		<p>Total distance: <%= @route.distance %></p>
		<ol id="steps">
			
		<% @route.directions.each do |step| %>
		<li>
				<h3 class="desc"><%= step['description'] %></h3> 
				<h4 class="distance"><%= step['distance'] %></h4>
			
		</li>
			<% end %>
		</ol>
		</div>		
<%= render 'goroo' %>

<% else %>
  <p>Nothing here</p>
<% end %>