<% if @route %>
		<h1>Directions</h1>
		<p>To go from <%= link_to @route.startpoint.name, @route.startpoint %> (<%= @route.startpoint.location %>) to <%= link_to @route.endpoint.name, @route.endpoint %> (<%= @route.endpoint.location %>)</p>
		<p>Total distance: <%= @route.distance %></p>
		<% @route.directions.each do |step| %>
				<h1 class="step"><%= step['description'] %></h1> 
				<h2 class-"distance"><%= step['distance'] %></h2>
			<% end %>

		<form name="tripPlan" id="tripPlan" action="http://goroo.com/goroo/showTripPlanResults.htm" method="post"> 
					<input type="hidden" value="false" id="calendarOpen" name="calendarOpen"/> 
					<input type="hidden" value="false" id="calendarClick" name="calendarClick"/> 

					<input type="hidden" value="" id="advanced" name="advanced"/> 
					<input type="hidden" value="yes" id="newTrip" name="newTrip"/> 
					<input type="hidden" value="true" id="newRequest" name="newRequest"/> 
					<input type="hidden" value="0" id="trip" name="trip"/> 
					<input type="hidden" value="" id="dummy" name="dummy"/> 
					 
							<input type="hidden" id="origData" name="origData"/>					 
							<input type="hidden" id="destData" name="destData"/>					 
					 
					 
					<table width="100%" border="0" cellpadding="0" cellspacing="0"> 
					<tr> 
					<td class="twoColLeftBorder1"> 
					 
						<div class="marginBottom"> 
							<div class="getDirectionsLeft"> 
							 
								<div class="maintext"><label class="bold" for="origAddress" title="From:">From:</label></div> 
								<div> 
									<input type="text" id="origAddress" name="origAddress" class="fulltextbox" maxlength="200" onfocus="validation1()" onchange="clearLocType('origData')" 
										value="<%= @route.startpoint.location  %>" /> 
								</div> 
							</div> 
							 
							 
							<div class="getDirectionsRight"> 
								<div class="maintext"><label class="bold" for="destAddress" title="To:">To:</label></div> 
								<div> 
									<input type="text" id="destAddress" name="destAddress" class="fulltextbox" maxlength="200" onfocus="validation3()" onchange="clearLocType('destData')" 
										value="<%= @route.endpoint.location  %>" /> 
								</div> 
	
								 

							</div> 
							<div class="clear"></div> 
						</div> 
						 
						 
						<div class="marginBottom timeOptions"> 
							<ul> 
							<li class="pt3">I want to</li> 
							<li class="pt2"><input type="radio" alt="Yes" checked="checked" id="arriveLeaveYes" name="arriveLeave" value="dep" /></li> 
							<li class="pt3"><label for="arriveLeaveYes" title="I want to Leave on">Leave</label></li> 
							<li class="pt2"><input type="radio" alt="No"  id="arriveLeaveNo" name="arriveLeave" value="arr" /></li> 
							<li class="pt3 pr"><label for="arriveLeaveNo" title="I want to Arrive on">Arrive</label></li> 
							<li class="pt3 pr"><label for="travelDate" title="Travel Date">on</label></li> 
							<li class="pr"><input name="travelDate" onclick="javascript:showCalendarControl(document.getElementById('travelDate'));" id="travelDate" type="text" value="11/04/10" maxlength="8" class="normaltextbox travelDate" /></li> 
							<li class="pt2 pr"><a href="#" id="A1" name="calendarImage" onclick="javascript:showCalendarControl(document.getElementById('travelDate'));"><img src="images/nav/calendar.gif" width="18" height="18" alt="Select Travel Date"/></a></li> 
							<li class="pt3 pr">at</li> 
							<li class="pr"> 
								<label for="hour" title="Travel Time Hour"> 
								<select name="hour" id="hour"> 
										<option value="1" >1</option> 
										<option value="2" >2</option> 
										<option value="3" >3</option> 
										<option value="4" >4</option> 
										<option value="5" >5</option> 
										<option value="6" >6</option> 
										<option value="7" >7</option> 
										<option value="8" >8</option> 
										<option value="9" >9</option> 
										<option value="10" >10</option> 
										<option value="11" >11</option> 
										<option value="12" >12</option> 
								</select>
								</label> 
							</li> 
							<li class="pt3 pr">:</li> 
							<li class="pr"> 
								<label for="minute" title="Travel Time Minute"> 
								<select name="minute" id="minute"> 
									<option  value="00">00</option> 
									<option  value="05">05</option> 
									<option  value="10">10</option> 
									<option  value="15">15</option> 
									<option  value="20">20</option> 
									<option selected="selected" value="25">25</option> 
									<option  value="30">30</option> 
									<option  value="35">35</option> 
									<option  value="40">40</option> 
									<option  value="45">45</option> 
									<option  value="50">50</option> 
									<option  value="55">55</option> 
								</select>
								</label> 
							</li> 
							<li class="pr"> 
								<label for="ampm" title="Travel Time AM or PM"> 
								<select name="ampm" id="ampm"> 
									<option  value="am">AM</option> 
									<option selected="selected" value="pm">PM</option> 
								</select>
								</label> 
							</li> 
							</ul> 
							<div class="clear"></div> 
						</div>	 
						 

						<div class="marginQuadTop"> 
						 
							<ul class="floatRightList"> 
								<li class="last"><a href="showHelp.htm#section1" onclick="openWindow(this.href,'1010','840','yes');return false" target="_blank" class="help">Help</a></li> 
							</ul> 
							 
							<div class="marginBottom"> 
								<input type="submit" value="Take Me There!" name="takeMeThere" id="takeMeThere" class="submitbutton" onclick="return checkForm();" accesskey="t"/> 
							</div> 
						</div> 

					</td> 
					<td class="twoColRightNoBorder1"> 
					 
						<h2>Additional Preferences</h2> 
						 
						<h3>Transportation Mode Preferences</h3> 
						 
						<div class="modeOptions"> 
							<ul> 
							<li> 
								<input type="checkbox" checked="checked" onclick="loadPage()" id="train" name="train" value="true"/> 
								<label for="train" title="Train">Train</label> 
							</li> 
							<li> 
								<input type="checkbox" checked="checked" onclick="loadPage()" id="bus" name="bus" value="true"/> 
								<label for="bus" title="Bus">Bus</label> 
							</li> 
							<li> 
								<input type="checkbox" checked="checked" onclick="loadPage()" id="drive" name="drive" value="true"/> 
								<label for="drive" title="Driving">Driving</label> 
							</li> 
							<li> 
								<input type="checkbox" checked="checked" onclick="loadPage()" id="driveToTransit" name="driveToTransit" value="true"/> 
								<label for="driveToTransit" title="Drive to Transit">Drive to Transit</label> 
							</li> 
							<li> 
								<input type="checkbox" onclick="loadPage()" id="bicycleOptionsRequired" name="bicycleOptionsRequired" value="true"/> 
								<label for="bicycleOptionsRequired" title="Bicycling">Bicycling</label> 
							</li> 
							<li> 
								<input type="checkbox" onclick="loadPage()" id="walkingOptionsRequired" name="walkingOptionsRequired" value="true"/> 
								<label for="walkingOptionsRequired" title="Walking">Walking</label> 
							</li> 
							</ul> 
							<div class="clear"></div> 
						</div> 
	       
						<div class="dotleader">&nbsp;</div> 
	                  	 
	       
                  		<h3 class="marginBottom">Transportation Options</h3> 

						<div class="modeLeft"><label for="tripPreference" title="I prefer directions that">I prefer directions that:</label></div> 
						<div class="modeRight"> 
							<select id="tripPreference" name="tripPreference"> 
								<option selected="selected" value="LEASTTIME">are quickest</option> 
								<option  value="LEASTCOST">are cheapest</option> 
								<option  value="LEASTINTERCHANGE">have fewest transfers</option> 
								<option  value="LEASTWALKING">have least walking</option> 
							</select> 
						</div> 
						<div class="clear"></div> 

						<div class="modeLeft"><label for="walkPreference" title="I prefer to walk no more than">I prefer to walk no more than:</label></div> 
						<div class="modeRight"> 
							<select id="walkPreference" name="walkPreference"> 
								<option  value="0.25">1/4 Miles</option> 
								<option selected="selected" value="0.50">1/2 Miles</option> 
								<option  value="0.75">3/4 Miles</option> 
								<option  value="1.00">1 Miles</option> 
								<option  value="2.00">2 Miles</option> 
								<option  value="3.00">3 Miles</option> 
							</select> 
						</div> 
						<div class="clear"></div> 

						<div class="modeLeft"><span class="handicap">I prefer accessible services</span>:</div> 
						<div class="modeRight"> 
							<input type="radio"  id="accessibleRequiredYes" name="accessibleRequired" value="true" /> 
							<label for="accessibleRequiredYes" title="Yes, I prefer accessible services ">Yes</label> 
							<input type="radio" checked="checked" id="accessibleRequiredNo" name="accessibleRequired" value="false" /> 
							<label for="accessibleRequiredNo" title="No, I prefer accessible services">No</label> 
						</div> 
						<div class="clear"></div> 

						<div class="modeLeft">I prefer stations with parking facilities:</div> 
						<div class="modeRight"> 
							<span class="pr"> 
								<input type="radio" checked="checked" id="parkingRequiredYes" name="parkingRequired" value="true"/> 
								<label for="parkingRequiredYes" title="Yes">Yes</label> 
							</span> 
							<span class="pr"> 
								<input type="radio"  id="parkingRequiredNo" name="parkingRequired" value="false"/> 
								<label for="parkingRequiredNo" title="No">No</label> 
							</span> 
						</div> 
						<div class="clear"></div> 

						<div id="drivingOptions"> 
							<h3>Driving Options</h3> 
							<div class="modeLeft">I prefer to avoid:</div> 
 							<div class="modeRight"> 
 								<input type="checkbox"  id="avoidTollway" name="avoidTollway" value="true"/> 
								<label for="avoidTollway" title="I prefer to avoid Toll">Toll</label> 
								<input type="checkbox"  id="avoidHighway" name="avoidHighway" value="true"/> 
								<label for="avoidHighway" title="I prefer to avoid Highway">Highway</label> 
							</div> 
						</div> 
						<div class="clear"></div> 

						<div id="bikeOptions"> 
							<h3>Bicycling Options</h3> 
							<div class="modeLeft"><label for="bikePreference" title="Bicycling Options Preferences">I prefer to:</label></div> 
							<div class="modeRight"> 
								<select id="bikePreference" name="bikePreference"> 
									<option id="bikeEntireTripOpt" selected="selected" value="107">bicycle the entire trip</option> 
									<option id="takeBikeAlongOpt" value="102">take my bicycle along</option> 
									<option id="leaveBikeAtStationOpt" value="101">leave my bicycle at the station</option> 
								</select>
							</div> 
						</div> 
						<div class="clear"></div> 
					</td> 
					</tr> 
					</table> 
					 
					</form> 
<% else %>
  <p>Nothing here</p>
<% end %>