<%= form_for @route, :remote => true  do |f| %>
  <div class="field" style="float:left; padding-right:1em">
    <%= f.label :startpoint_id %><br />
    <%= f.select :startpoint_id, options_from_collection_for_select(@venues, 'id', 'name'), { :include_blank => false }, { :size => 15  } %>
  </div>
  <div class="field">
    <%= f.label :endpoint_id %><br />
    <%= f.select :endpoint_id, options_from_collection_for_select(@venues, 'id', 'name'), { :include_blank => false }, { :size => 15  } %>
  </div>
  <div class="field">
    <%= f.label :mode %><br />
    <%= f.radio_button :mode, "walking" %> <%= f.label "mode_walking", "Walking Directions"%>
    <%= f.radio_button :mode, "pubtrans" %> <%= f.label "mode_pubtrans", "Via Public Transportation"%>
  </div>
  
  <div class="actions">
    <%= f.submit "Get Directions", { :id => "route_show" } %>
    <%= f.submit "Clear", { :id => "route_clear" }  %>
  </div>
<% end %>