<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
		<%= javascript_include_tag :all %>
    <%= render 'layouts/stylesheets' %>
		<%= yield :extra_head %>
 </head>
  <body>
    <div class="container">
			<%= render :partial => "layouts/skiplinksnav" %>
      <%= render :partial => 'layouts/header' %>
      <div class="column span-24">
        <%= yield %>
      </div>
			<%= render :partial => 'layouts/footer' %>
    </div>

  </body>

</html>
